[Unit]
Description=AlertManager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/{{alert_manager_dir}}/
ExecStart=/opt/{{alert_manager_dir}}/alertmanager

[Install]
WantedBy=multi-user.target