[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
type=simple
Restart=on-failure
ExecStart=/opt/{{exporter_dir}}/node_exporter --collector.systemd


[Install]
WantedBy=multi-user.target