[Install]
WantedBy=multi-user.target

[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/prometheus/{{prometheus_dir}}
ExecStart=/opt/prometheus/{{prometheus_dir}}/promethus

[Install]
WantedBy=multi-user.target